<h1>Tasks</h1>
<p>Aqui estão listadas todas as tasks cadastradas.</p>
<%= form_with url: task_index_url, method: 'get', local: true do |task| %>
  <%= task.label(:filter, "Filtrar tasks:") %>
  <%= task.select(:filter, options_for_select([['Selecione',''],['TODO',0],['DONE',1]])) %>
  <%= task.submit("Filtrar") %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Descrição</th>
      <th>status</th>
    </tr>
  </thead>
 
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.descricao %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nova task',new_task_url %>